<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Project_Network_announcement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login_servlet</display-name>
    <servlet-name>Login_servlet</servlet-name>
    <servlet-class>com.networkannonce.servlets.Login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_servlet</servlet-name>
    <url-pattern>/Login_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout_servlet</display-name>
    <servlet-name>Logout_servlet</servlet-name>
    <servlet-class>com.networkannonce.servlets.Logout_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout_servlet</servlet-name>
    <url-pattern>/Logout_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionMember_servlet</display-name>
    <servlet-name>InscriptionMember_servlet</servlet-name>
    <servlet-class>com.networkannonce.servlets.InscriptionMember_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionMember_servlet</servlet-name>
    <url-pattern>/InscriptionMember_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthentificationMember_servlet</display-name>
    <servlet-name>AuthentificationMember_servlet</servlet-name>
    <servlet-class>com.networkannonce.servlets.AuthentificationMember_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthentificationMember_servlet</servlet-name>
    <url-pattern>/AuthentificationMember_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.networkannonce.servlets.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeDetail</display-name>
    <servlet-name>HomeDetail</servlet-name>
    <servlet-class>com.networkannonce.servlets.HomeDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeDetail</servlet-name>
    <url-pattern>/HomeDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterCommentaire</display-name>
    <servlet-name>AjouterCommentaire</servlet-name>
    <servlet-class>com.networkannonce.servlets.AjouterCommentaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterCommentaire</servlet-name>
    <url-pattern>/AjouterCommentaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailAnnonceMemberInscrit</display-name>
    <servlet-name>DetailAnnonceMemberInscrit</servlet-name>
    <servlet-class>com.networkannonce.servlets.DetailAnnonceMemberInscrit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailAnnonceMemberInscrit</servlet-name>
    <url-pattern>/DetailAnnonceMemberInscrit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendMessageToMember</display-name>
    <servlet-name>sendMessageToMember</servlet-name>
    <servlet-class>com.networkannonce.servlets.sendMessageToMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendMessageToMember</servlet-name>
    <url-pattern>/sendMessageToMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnonceDeletedBySonmember</display-name>
    <servlet-name>AnnonceDeletedBySonmember</servlet-name>
    <servlet-class>com.networkannonce.servlets.AnnonceDeletedBySonmember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnonceDeletedBySonmember</servlet-name>
    <url-pattern>/AnnonceDeletedBySonmember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormulaireDeposerAnnonceMember</display-name>
    <servlet-name>FormulaireDeposerAnnonceMember</servlet-name>
    <servlet-class>com.networkannonce.servlets.FormulaireDeposerAnnonceMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormulaireDeposerAnnonceMember</servlet-name>
    <url-pattern>/FormulaireDeposerAnnonceMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeposerAnnonce</display-name>
    <servlet-name>DeposerAnnonce</servlet-name>
    <servlet-class>com.networkannonce.servlets.DeposerAnnonce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeposerAnnonce</servlet-name>
    <url-pattern>/DeposerAnnonce</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnonceUpdatedBySonmember</display-name>
    <servlet-name>AnnonceUpdatedBySonmember</servlet-name>
    <servlet-class>com.networkannonce.servlets.AnnonceUpdatedBySonmember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnonceUpdatedBySonmember</servlet-name>
    <url-pattern>/AnnonceUpdatedBySonmember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllMembersAdminEvent</display-name>
    <servlet-name>getAllMembersAdminEvent</servlet-name>
    <servlet-class>com.networkannonce.servlets.getAllMembersAdminEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllMembersAdminEvent</servlet-name>
    <url-pattern>/getAllMembersAdminEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllAnnoncesAdminEvent</display-name>
    <servlet-name>getAllAnnoncesAdminEvent</servlet-name>
    <servlet-class>com.networkannonce.servlets.getAllAnnoncesAdminEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllAnnoncesAdminEvent</servlet-name>
    <url-pattern>/getAllAnnoncesAdminEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMemberByAdmin</display-name>
    <servlet-name>DeleteMemberByAdmin</servlet-name>
    <servlet-class>com.networkannonce.servlets.DeleteMemberByAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMemberByAdmin</servlet-name>
    <url-pattern>/DeleteMemberByAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAnnonceByAdmin</display-name>
    <servlet-name>DeleteAnnonceByAdmin</servlet-name>
    <servlet-class>com.networkannonce.servlets.DeleteAnnonceByAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAnnonceByAdmin</servlet-name>
    <url-pattern>/DeleteAnnonceByAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnonceUpdatedBySonMemberApresModif</display-name>
    <servlet-name>AnnonceUpdatedBySonMemberApresModif</servlet-name>
    <servlet-class>com.networkannonce.servlets.AnnonceUpdatedBySonMemberApresModif</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnonceUpdatedBySonMemberApresModif</servlet-name>
    <url-pattern>/AnnonceUpdatedBySonMemberApresModif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnoncesServlet</display-name>
    <servlet-name>AnnoncesServlet</servlet-name>
    <servlet-class>com.networkannonce.servlets.AnnoncesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnoncesServlet</servlet-name>
    <url-pattern>/AnnoncesServlet</url-pattern>
  </servlet-mapping>
</web-app>